body {
    text-align: center;
    text-decoration: underline;
    list-style-position: inside;
    font-family:'Times New Roman', Times, sans-serif;
}

img {
    height: 400px;
    width: 800px;
}

* {
    background-color: lightcyan;
}
